@import 'node_modules/bootstrap/scss/bootstrap.scss';

td {
	@include media-breakpoint-down(md) {
		padding: .3rem !important;
	}
}

.banner {
	font-size: 300%;
	margin: 1rem 4rem;
	display: flex;
	justify-content: space-between;
}