.btn-big {
	margin: 2rem auto;
	a {
		font-size: 2rem;
	}
	&:not(:first-child) {
		margin-top: 0;
	}
}

.big {
	font-size: 1.5rem;
	&-margin {
		width: 50rem;
		margin: 2rem auto;
	}
}

.card {
	width: 50rem;
	h5, h6, p, a, label {
		font-size: 250%;
	}
	
	.form {
		&-check {
			display: flex;
			align-items: center;
			label {
				margin-left: 1rem;
			}
		}
		&-range-container {
			display: flex;
			padding: 1rem 0;
			justify-content: space-between;
			align-items: center;
			label { margin: 0; }
			input {
				width: 100%;
				margin-right: .5rem;
			}
		}
	}
	margin: auto;
	margin-bottom: 2rem;
}