<div class="text-center btn-big"><a routerLink="/quizzable_atoms" class="btn btn-success">Edit Quizzable Atoms</a></div>

<!-- Choose Mode -->
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Quiz Mode Settings</h5>

		<h6 class="card-subtitle mt-4 text-muted">Locate</h6>
		<p class="card-text">Select the elements from the periodic table</p>

		<h6 class="card-subtitle mt-4 text-muted">Multichoice</h6>
		<p class="card-text">Choose between multiple possible answers</p>

		<h6 class="card-subtitle mt-4 text-muted">FreeText</h6>
		<p class="card-text">Answer in a free input box</p>

		<select class="text-center big form-select" [(ngModel)]="newSettings.mode" (change)="modeChange()">
			<option *ngFor="let o of gameModes" [selected]="mode === o" [value]="o">{{ o }}</option>
		</select>
	</div>
</div>

<!-- Choose Given Data -->
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Given Data Settings</h5>
		<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
		<p class="card-text">You can choose what data you're given in each quiz ({{ Object.values(properties).join(', ') }}).</p>
		<select class="text-center big form-select" [(ngModel)]="newSettings.given" (change)="givenChange()">
			<option *ngFor="let o of Object.keys(properties)" [selected]="given === o" [value]="o">{{ properties[o] }}</option>
		</select>
	</div>
</div>

<!-- Choose Input Data -->
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Input Data Settings</h5>
		<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
		<p class="card-text">You can choose what data you need to find for your given data in each quiz ({{ Object.values(properties).join(', ') }}). It cannot be the same as your given input.</p>
		<select class="text-center big form-select" [(ngModel)]="newSettings.input" (change)="inputChange()">
			<ng-container *ngFor="let o of Object.keys(properties)">
				<option *ngIf="o !== given" [selected]="input === o" [value]="o">{{ properties[o] }}</option>
			</ng-container>
		</select>
	</div>
</div>

<!-- Choose Wether to approve typos -->
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Typos Settings</h5>
		<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
		<p class="card-text">You can choose whether Bismuth approves of typos you make.</p>
		<select class="text-center big form-select" [(ngModel)]="newSettings.typos" (change)="typosChange()">
			<option [selected]="typos" [value]="true">Approve</option>
			<option [selected]="!typos" [value]="false">Reject</option>
		</select>
	</div>
</div>

<div class="text-center btn-big"><a href="//ptable.com/" class="btn btn-info">Periodic Table Full Information <fa-icon [icon]="icons.faExternal"></fa-icon></a></div>