<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">
			<img src="assets/icons/round/icon.png" alt="Logo" width="60" height="60" class="d-inline-block align-top">
			<span class="title">Bismuth</span>
		</a>
		<div class="d-flex icon icon-big icon-button">
			<a *ngIf="location !== '/test'" routerLink="/test" class="btn btn-outline-primary">Start Quiz</a>
			<a *ngIf="location !== '/history'" routerLink="/history">
				<fa-icon [icon]="icons.faHistory"></fa-icon>
			</a>
			<a *ngIf="location !== '/settings'" routerLink="/settings">
				<fa-icon [icon]="icons.faSettings"></fa-icon>
			</a>
		</div>
	</div>
</nav>