<div class="card">
	<div class="card-body">
		<a routerLink="/history" class="btn btn-secondary mb-4"><fa-icon [icon]="icons.faBack"></fa-icon> Back</a>
		<h5 class="card-title">Quiz started on: {{ formatDate(quiz.date) }}</h5>
		<h6 *ngIf="place" class="card-subtitle mb-2 text-muted">This one was in #{{ ordinalNumbers(place) }} place (for this mode)</h6>
		<h6 class="card-subtitle mb-2 text-muted">Completed in: {{ !!quiz.time ? formatMilliseconds(quiz.time) : 'No data' }}</h6>
		<h6 class="card-subtitle mb-2 text-muted">Mode: {{ gameModes[quiz.mode] }}</h6>
		<p class="card-text">You were given <strong>{{ atomProperties[quiz.given].toLowerCase() }}s</strong> and tried to find the corresponding <strong>{{ atomProperties[quiz.input].toLowerCase() }}s.</strong>
		You made it {{ quiz.succeeded.length }} out of {{ quiz.outOf.length }} times. Keep going!</p>
		<div class="atom-list-wrapper">
			<div class="card atom-list">
				<div class="card-header bg-success">
					<strong>Correct</strong>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let a of quiz.succeeded" class="list-group-item">{{ atoms.getAtomById(a)[quiz.given] }} → {{ atoms.getAtomById(a)[quiz.input] }}</li>
				</ul>
			</div>
			<div class="card atom-list">
				<div class="card-header bg-danger">
					<strong>Wrong</strong>
				</div>
				<ul class="list-group list-group-flush">
					<li *ngFor="let a of _.difference(quiz.outOf, quiz.succeeded)" class="list-group-item">{{ atoms.getAtomById(a)[quiz.given] }} → {{ atoms.getAtomById(a)[quiz.input] }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>