<div class="text-center btn-save">
	<button class="btn btn-margin" *ngFor="let b of filterButtons; let i = index" [class.btn-light]="i % 2 == 1" [class.btn-dark]="i % 2 == 0" (click)="selectFirst(b.number)">{{ b.text }}</button>
</div>
<div class="text-center btn-save">
	<button class="btn btn-margin" *ngFor="let f of filterButtonsFamilies; let i = index" [class.btn-light]="i % 2 == 1" [class.btn-dark]="i % 2 == 0" (click)="selectFamily(f)">{{ f }}</button>
</div>

<!-- Periodic table -->
<table class="table table-borderless">
	<tbody>
		<tr *ngFor="let row of range(9)">
			<td *ngFor="let col of range(18)">
				<app-atom-card *ngIf="getAtom(row, col)" [atom]="getAtom(row, col)" [settings]="{}" (click)="toggleAtom(row, col)"></app-atom-card>
			</td>
		</tr>
	</tbody>
</table>

<!-- Save Buttons -->
<div class="text-center btn-save">
	<a class="btn btn-danger btn-margin" routerLink="/settings">Cancel</a>
	<button class="btn btn-success btn-margin" (click)="saveSettings()">Save Changes</button>
</div>