app-atom-card {
	cursor: pointer;
}

.table {
	background-color: #f3f3f3;
}

.btn{
	&-save {
		margin: 2rem auto;
		button, a {
			font-size: 2rem;
		}
	}
	&-margin {
		&:not(:first-child) {
			margin-left: 1.5rem;
		}
	}
}