.banner {
	font-size: 300%;
	margin: 1rem 4rem;
	display: flex;
	justify-content: space-between;
}

.box {
	border: 1px solid var(--secondary);
	border-radius: 5px;
	padding: 1rem;
	&-timer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 15%;
		flex: 1;
	}
	&-progress {
		max-width: 80%;
		flex: 1;
	}
}

.progress {
	height: 100%;
	font-size: 100%;
}

.cover-screen {
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;

	&-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		h1 {
			text-transform: uppercase;
			color: var(--dark);
			font-weight: bold;
			font-size: 600%;
		}
		button {
			margin: 1rem auto;
			font-size: 450%;
			border-radius: 50%;
			height: 6rem;
			width: 6rem;
			display: flex;
			justify-content: center;
			align-items: center;
			fa-icon {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.btn-space {
	&:not(:last-child) {
		margin-right: .5rem;
	}
}