@import 'node_modules/bootstrap/scss/bootstrap.scss';

.card {
	width: calc(100vw / 25);
	box-sizing: border-box;
	padding: .4rem;
	@include media-breakpoint-down(md) {
		padding: .2rem;
	}

	&-selected {
		border: 1px solid rgba(0, 0, 0, .7);
	}
	&-fit {
		min-width: fit-content;
		width: 12rem;
	}
	&-break {
		hyphens: auto;
	}
	&-transparent {
		filter: opacity(0.25);
	}
	&-big {
		font-weight: 300;
		padding: 1rem;
		.name {
			font-size: 2rem;
		}
		.number {
			font-size: 2.2rem;
		}
		.symbol {
			font-size: 3rem;
		}
	}
}

.capitalize {
	text-transform: capitalize;
}

.name {
	font-size: 1.3rem;
	margin-bottom: 0;
	@include media-breakpoint-down(md) {
		font-size: .8rem;
	}
}

.symbol {
	font-size: 2rem;
	@include media-breakpoint-down(md) {
		font-size: .1.5rem;
	}
}

.number {
	font-size: 1.5rem;
	@include media-breakpoint-down(md) {
		font-size: 1rem;
	}
}