<!-- <ng-template #dynamic></ng-template> -->

<ng-container [ngSwitch]="quiz.mode">
	<app-locate-question *ngSwitchCase="QuizMode.Locate" (done)="nextQuestion($event)" [quiz]="quiz" [value]="valueSender" [completed]="completedQuestions"></app-locate-question>
	<app-multi-choice-question *ngSwitchCase="QuizMode.Multichoice" (done)="nextQuestion($event)" [quiz]="quiz" [value]="valueSender"></app-multi-choice-question>
	<app-free-text-question *ngSwitchCase="QuizMode.FreeText" (done)="nextQuestion($event)" [quiz]="quiz" [value]="valueSender"></app-free-text-question>
</ng-container>

<div *ngIf="feedback" class="feedback-panel user-select-none" [class.bg-success]="feedback.correct" [class.bg-danger]="!feedback.correct">
	<fa-icon [icon]="feedback.correct ? icons.faCorrect : icons.faWrong"></fa-icon>
	<span> {{ feedback.correct ? 'CORRECT' : 'WRONG' }}</span>
	<p *ngIf="feedback.typos || !feedback.correct" class="feedback">Your answer was: <strong>{{ feedback.answered }}</strong>. It should have been: <strong>{{ feedback.correctAnswer }}</strong></p>
</div>