<div class="card" *ngIf="currentAtom">
	<p>What is the <strong>{{ atomProperties[quiz.input].toLowerCase() }}</strong> of the atom with <strong>{{ atomProperties[quiz.given].toLowerCase() }}</strong></p>
	<h1>{{ currentAtom[quiz.given] }}?</h1>
</div>

<table class="table table-borderless">
	<tbody>
		<tr *ngFor="let row of range(9)">
			<td *ngFor="let col of range(18)">
				<ng-container *ngFor="let atom of [atoms.getAtom(row, col)]">
					<app-atom-card [title]="atom[quiz.input]" (click)="submitQuestion(atom.id, atom[quiz.input])" [class.unavailable]="!quiz.outOfGenerated.includes(atom.id)" [class.selected]="completed.includes(atom.id)" *ngIf="atom" [atom]="isSelected(atom)" [settings]="{ break: true, display: { symbol: quiz.given !== 'symbol' && quiz.input !== 'symbol', id: quiz.given !== 'id' && quiz.input !== 'id' }, displayWhat: quiz.input, transparent: !quiz.outOfGenerated.includes(atom.id) }"></app-atom-card>
				</ng-container>
			</td>
		</tr>
	</tbody>
</table>