/* You can add global styles to this file, and also import other style files */
html, body {
	font-size: 62.5%;
}

.icon {
	a {
		color: #fff;
	}
	&-big {
		a {
			font-size: 2rem;
			transition: all .4s;
			&:hover, &:active {
				color: #ffffffaa;
			}
		}
	}
	&-button {
		cursor: pointer;
		a {
			display: inline-block;
			margin: .5rem;
		}
	}
}